### Handle `CSV` file using Pandas

Pandas can read wide variety of data sources. In this section, we will covering **csv** files

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv(filepath_or_buffer='../datasets/example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
pwd

'/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/notebooks'

In [4]:
ls

28-StatisticalInformationAndSorting.ipynb
29-MissingData.ipynb
32-GroupByOperations.ipynb
34-CombiningDataFrames.ipynb
38-TextMethodsForStringData.ipynb
39-DateAndTimeDataManipulation.ipynb
40-HandleCsvFiles.ipynb
NumPy.ipynb
NumPyOperations.ipynb
Pandas.ipynb

In [8]:
import os

In [18]:
os.curdir

'.'

In [20]:
os.getcwd()

'/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/notebooks'

In [21]:
from pathlib import Path

In [32]:
Path('.').resolve()

PosixPath('/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/notebooks')

In [33]:
Path('.').resolve().parent

PosixPath('/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml')

In [35]:
DATASET = os.path.join(Path('.').resolve().parent, 'datasets')

In [36]:
DATASET

'/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/datasets'

In [38]:
df = pd.read_csv(filepath_or_buffer=os.path.join(DATASET, 'example.csv'))

In [39]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [43]:
# to save the dataframe to csv file
df.to_csv(path_or_buf=os.path.join(DATASET, 'example_new.csv'))

In [44]:
ls

28-StatisticalInformationAndSorting.ipynb
29-MissingData.ipynb
32-GroupByOperations.ipynb
34-CombiningDataFrames.ipynb
38-TextMethodsForStringData.ipynb
39-DateAndTimeDataManipulation.ipynb
40-HandleCsvFiles.ipynb
NumPy.ipynb
NumPyOperations.ipynb
Pandas.ipynb

In [47]:
DATASET

'/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/datasets'

In [48]:
ls /Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/datasets

RetailSales_BeerWineLiquor.csv  movie_scores.csv
Sales_Funnel_CRM.csv            mpg.csv
example.csv                     new_file.csv
example_new.csv                 newfile.csv
hotel_booking_data.csv          tips.csv

In [49]:
ls

README.md              datasets/              venv/
datascienceml-one.png  models/
datascienceml-two.png  notebooks/

In [50]:
cd notebooks/

/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/notebooks

/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/venv/lib/python3.11/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [51]:
ls

28-StatisticalInformationAndSorting.ipynb
29-MissingData.ipynb
32-GroupByOperations.ipynb
34-CombiningDataFrames.ipynb
38-TextMethodsForStringData.ipynb
39-DateAndTimeDataManipulation.ipynb
40-HandleCsvFiles.ipynb
NumPy.ipynb
NumPyOperations.ipynb
Pandas.ipynb

In [52]:
pd.read_csv('../datasets/example_new.csv')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [56]:
# we have got the index column as Unnamed: to avoid this we can use index=False 
df.to_csv(path_or_buf=os.path.join(DATASET, 'example_new_updated.csv'), index=False)

In [57]:
pd.read_csv('../datasets/example_new_updated.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15