### Handle XLSX files using Pandas

If we dealing with vanilla Python, we have various packages such as **openpyxl** and https://www.python-excel.org/.

But when we are dealing with ML and Data Science projects, we can use Pandas to read xlsx file

<span style="background-color:red; color:white; padding:2px">IMPORTANT</span>: To read excel file using `pd.read_excel` we must install **openpyxl** package first

In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
from pathlib import Path

In [4]:
Path('.').resolve().parent

PosixPath('/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml')

In [5]:
DATASETS = os.path.join(Path('.').resolve().parent, 'datasets')

In [6]:
DATASETS

'/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/datasets'

In [9]:
os.path.join(DATASETS, 'my_excel_file.xlsx')

'/Users/gaurnitai/Desktop/Programming/Python/data-science/udemy/pierian-ml/datasets/my_excel_file.xlsx'

In [11]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 5.8 MB/s eta 0:00:00[36m0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [13]:
pd.read_excel(os.path.join(DATASETS, 'my_excel_file.xlsx'))

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
df = pd.read_excel(os.path.join(DATASETS, 'my_excel_file.xlsx'))

In [15]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [16]:
df.to_excel(os.path.join(DATASETS, 'write_excel_file.xlsx'), index=False)

In [17]:
pd.read_excel(os.path.join(DATASETS, 'write_excel_file.xlsx'))

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [19]:
# to get specific sheet names data
pd.read_excel(os.path.join(DATASETS, 'my_excel_file.xlsx'), sheet_name='First_Sheet')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [24]:
# to get all the sheet names from workbook
wb = pd.ExcelFile(os.path.join(DATASETS, 'my_excel_file.xlsx'))

In [25]:
wb

In [26]:
wb.sheet_names

['First_Sheet']

In [27]:
for sheet in wb.sheet_names:
    pd.read_excel(os.path.join(DATASETS, 'my_excel_file.xlsx'), sheet_name=sheet)

In [30]:
data = pd.read_excel(os.path.join(DATASETS, 'my_excel_file.xlsx'), sheet_name=None)

In [32]:
type(data)

dict

In [34]:
data.keys()

dict_keys(['First_Sheet'])

In [35]:
data['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [37]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [38]:
df.to_excel(os.path.join(DATASETS, 'write_excel_file.xlsx'), sheet_name='First_sheet', index=False)

In [39]:
pd.read_excel(os.path.join(DATASETS, 'write_excel_file.xlsx'), sheet_name='First_sheet')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15